body {
	margin: 0;
	background-color: #F1F5F5;
}
.menu_text {
	font-size: 12px;
	color: #000000;
	padding-left: 15px;
}
.menu_text_color {
	font-size: 12px;
	color: #5d6d6d;
	padding-left: 15px;
}
.title_text {
	font-size: 14px;
	color: #000000;
}
.title {
	font-size: 14px;
	color: #FFFFFF;
	padding-left: 35px;
	font-weight: bold;
}
td {
	font-size: 12px;
}
a {
	color: #5d6d6d;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
.error {
	font-size: 10px;
	color: #Fc0000;
}
.error_title {
	color: #990000;
	font-weight: bold;
}
.error_word {
	font-size: 16px;
	color: #FF95B5;
}
