body {
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	background-image: url(../images/main_bg.gif);
}
.title {
	font-size: 14px;
	color: #623200;
	padding-left: 12px;
	font-weight: bold;
	border-left-color: #7c540e;
	border-left-width: 1px;
	border-left-style: solid;
}
td {
	font-size: 13px;
	color: #000000;
}
.red {
	font-size: 13px;
	color: #ff0000;
}
.search {
	font-size: 13px;
	color: #000000;
	border:solid #dbdbdb 1px;
}
.texts{
	font-size: 13px;
	color: #000000;
	line-height: 25px;
}
.messages{
	font-size: 13px;
	color: #666666;
	line-height: 22px;
}
div.error{
    background: #ffffcc;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 9px auto;
    padding: 5px;
    text-align: left;
    vertical-align: center;
    border: 1px solid red;

    font-size: 12px;
}
div.errormessage{
		color: red;
    font-size: .85em;
    font-weight: bold;
    display: block;
}
.menu_table{
 border:1px solid #d29428;
 background:#F0F5F5;
}
.menu_table_left{
 border-left:1px solid #d29428;
 padding: 5px; 
}
.menu_table_top{
 border-top:1px solid #d29428;
 padding: 5px; 
}
.menu_table_top_left{
 border-top:1px solid #d29428;
 border-left:1px solid #d29428; 
}
.menu_text{
 padding: 5px; 
 font-size: 13px;
 color: #000000;
}
a.page {
	color: #000000;
	text-decoration: none;
}
a.page:hover {
	color:#FF0000;
	text-decoration: underline;
}
.text_page{
	font-size: 14px;
	color:#fc0000
}
.pad{

padding-left:10px;
padding-top:10px;}