<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="xstreamSupport" class="com.lm.xml.biz.imp.ObjXmlConvertSupport">
		<property name="objxmlConvertTemplate" ref="xstreamTemplate"/>
	</bean>
	
	<bean id="xstreamTemplate" class="com.lm.xml.biz.imp.ObjXmlConvertTemplate"/>

</beans>
