<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="xxx" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<!-- bean id 名字 可以多个value -->
		<property name="beanNames">
			<!--			<value>*Service,*OtherSomething</value>-->
			<!--			<value>*Servicexxx</value>-->
			<value>*Service</value>
		</property>
		<!-- 拦截器名字 -->
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
				<!--   此处增加新的Interceptor ,比如 acegi的 MethodInvocations 
						,但注意这样配置会使所有的service都加入此Interceptor -->
<!--				<value>myMethodInterceptor</value>-->
			</list>
		</property>
	</bean>
</beans>
