<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	
	<bean name="/member_add"
		class="com.livedoor.flow_manager.user.action.UserAddAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="noGeneratorService">
			<ref bean="noGeneratorService" />
		</property>

	</bean>
	
</beans>
