<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>	
	
	
	<bean name="/ws/showSourceSearch" class="com.livedoor.flow_manager.sources.action.ShowSourceSearchAction" >
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/showSourceSearch" class="com.livedoor.flow_manager.sources.action.ShowSourceSearchAction" >
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/querySource" class="com.livedoor.flow_manager.sources.action.QuerySourceAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
		<property name="userService"><ref bean="userService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
	</bean>
	
	<bean name="/showAddSource" class="com.livedoor.flow_manager.sources.action.ShowSourceAddAction" singleton="false">
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
	</bean>
	
	<bean name="/addSource" class="com.livedoor.flow_manager.sources.action.SourceAddAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
	</bean>
	
	<bean name="/addReback" class="com.livedoor.flow_manager.sources.action.AddRebackAction" singleton="false">

	</bean>
	
	<bean name="/sourceQueryNextPage" class="com.livedoor.flow_manager.sources.action.SourceSearchMovePageAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/sourceQueryPreviousPage" class="com.livedoor.flow_manager.sources.action.SourceSearchMovePageAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/sourceQueryFirstPage" class="com.livedoor.flow_manager.sources.action.SourceSearchMovePageAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/sourceQueryLastPage" class="com.livedoor.flow_manager.sources.action.SourceSearchMovePageAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/sourceQueryAssignPage" class="com.livedoor.flow_manager.sources.action.SourceSearchMovePageAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/pagerSource" class="com.livedoor.flow_manager.sources.action.SourceSearchMovePageAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	
<!--		CUSTOMER CONFIG -->	
	
<!--	<bean name="/showUserSearch" class="com.livedoor.flow_manager.user.action.ShowUserSearchAction" singleton="false">-->
<!--		<property name="userService"><ref bean="userService"/></property>-->
<!--	</bean>-->
<!--		PDF DOWNLOAD    -->
	<bean name="/sourceSearchPdfReport" class="com.livedoor.flow_manager.sources.action.SourceSearchPdfReportAction" singleton="false">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	
	
	<bean name="/showSourceUpdate" class="com.livedoor.flow_manager.sources.action.ShowSourceUpdateAction" >
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
	</bean>
	
	<bean name="/updateSource" class="com.livedoor.flow_manager.sources.action.SourceUpdateAction" >
		<property name="sourceService"><ref bean="sourceService"/></property>
<!--		<property name="foodService"><ref bean="foodService"/></property>-->
	</bean>
	
	<bean name="/updateReback" class="com.livedoor.flow_manager.sources.action.UpdateRebackAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/deleteSource" class="com.livedoor.flow_manager.sources.action.SourceDeleteAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
	</bean>
	
	<bean name="/deleteReback" class="com.livedoor.flow_manager.sources.action.DeleteRebackAction" singleton="false">
		<property name="sourceService"><ref bean="sourceService"/></property>
		<property name="userService"><ref bean="userService"/></property>
	</bean>
	
	<bean name="/returnMenu" class="org.apache.struts.actions.ForwardAction" singleton="false">

	</bean>
	
	<bean name="/toDownload" class="com.livedoor.flow_manager.download.ShowDownLoadAction" singleton="false">
		
	</bean>
	
	<bean name="/download" class="com.livedoor.flow_manager.download.DownLoadAction" singleton="false">
		
	</bean>
	
	<bean name="/toCommonDemo" class="com.livedoor.flow_manager.common.action.CommonDemoDisplay" singleton="false">
	</bean>

	<bean name="/toJmsSend" class="com.livedoor.flow_manager.jms.action.ToJmsSend" singleton="false">
		
	</bean>
	
	<bean name="/jmsSend" class="com.livedoor.flow_manager.jms.action.SpringJmsTemplateSendAction" singleton="false">
		<property name="jmsQueueSender"><ref bean="jmsSender"/></property>
	</bean>
	
	<bean name="/jmsReceive" class="com.livedoor.flow_manager.jms.action.SpringJmsTemplateReceiveAction" singleton="false">
		<property name="jmsQueueReceiver"><ref bean="jmsReceiver"/></property>
	</bean>
	
	<bean name="/toVelocity" class="com.livedoor.flow_manager.velocity.action.VelocityAction" singleton="false">
	</bean>
	
</beans>
