.eXtremeTable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.eXtremeTable SELECT {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #eee 1px solid; WIDTH: 75px; BORDER-BOTTOM: #eee 1px solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.eXtremeTable .tableRegion {
	BORDER-TOP: #d29428 1px solid; MARGIN-TOP: 7px; FONT-SIZE: 12px; BORDER-LEFT: #d29428 1px solid
}
.eXtremeTable .filter {
	BACKGROUND-COLOR: #f4f4f4
}
.eXtremeTable .title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; VERTICAL-ALIGN: middle; COLOR: #1a7cdf
}
.eXtremeTable .titleRow {
	BACKGROUND-COLOR: #f4f4f4
}
.eXtremeTable .titleRow TD {
	PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; BORDER-BOTTOM: #308dbb 0px solid; BORDER-RIGHT: #d29428 1px solid
}
.eXtremeTable .titleRow SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #444444
}
.eXtremeTable .filter INPUT {
	FONT-SIZE: 12px; WIDTH: 100%
}
.eXtremeTable .filter SELECT {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #eee 1px solid; WIDTH: 100%; BORDER-BOTTOM: #eee 1px solid
}
.eXtremeTable .tableHeader {
	BORDER-RIGHT: #d29428 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d29428 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/tableTopbg.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #d29428 1px solid; BACKGROUND-COLOR: #ecbc68; TEXT-ALIGN: left
}
.eXtremeTable .tableHeaderSort {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/tableTopbg.gif); PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #3a95c2; TEXT-ALIGN: left
}
.eXtremeTable .odd A {
	FONT-SIZE: 12px; COLOR: black
}
.even A {
	FONT-SIZE: 12px; COLOR: black
}
.eXtremeTable .odd TD {
	BORDER-RIGHT: #d29428 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; BORDER-BOTTOM: #d29428 1px solid
}
.eXtremeTable .even TD {
	BORDER-RIGHT: #d29428 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; BORDER-BOTTOM: #d29428 1px solid
}
.eXtremeTable .odd {
	BACKGROUND-COLOR: #ffffff
}
.eXtremeTable .even {
	BACKGROUND-COLOR: #F1EFE2
}
.eXtremeTable .highlight TD {
	BORDER-RIGHT: #d29428 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 5px; BORDER-BOTTOM: #d29428 1px solid; BACKGROUND-COLOR: #ecf6d5
}
.eXtremeTable .highlight A {
	FONT-SIZE: 12px; COLOR: black
}
.highlight A {
	FONT-SIZE: 12px; COLOR: black
}
.eXtremeTable .toolbar {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 12px; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #ffffff
}
.eXtremeTable .toolbar TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #444444; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.eXtremeTable .compactToolbar {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #d29428
}
.eXtremeTable .separator {
	WIDTH: 7px
}
.eXtremeTable .statusBar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #d29428
}
.eXtremeTable .filterButtons {
	BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: right
}
.eXtremeTable .title SPAN {
	MARGIN-LEFT: 7px
}
.eXtremeTable .formButtons {
	MARGIN-TOP: 10px; DISPLAY: block; MARGIN-LEFT: 5px
}
.eXtremeTable .formButton {
	BORDER-RIGHT: #333 1px outset; BORDER-TOP: #333 1px outset; MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-LEFT: #333 1px outset; CURSOR: pointer; COLOR: white; BORDER-BOTTOM: #333 1px outset; BACKGROUND-COLOR: #308dbb
}
.eXtremeTable .calcRow {
	BACKGROUND-COLOR: #ffffff
}
.eXtremeTable .calcRow TD {
	BORDER-RIGHT: #d29428 1px solid; BORDER-TOP: #d29428 1px solid; BACKGROUND-COLOR: #ffffff
}
.eXtremeTable .calcTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.eXtremeTable .calcResult {
	FONT-SIZE: 12px
}
