<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- 延迟初始化它的bean,第一次访问时加载 -->
<!--<beans default-lazy-init="true">-->
<beans>

	<!--======================================================================-->
	<!--    Spring 自带的JMS模版     -->
	<!--======================================================================-->

	<!--JNDI上下文模板配置-->

	<bean id="jndiTemplate"
		class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">
					org.jnp.interfaces.NamingContextFactory
				</prop>
				<prop key="java.naming.provider.url">0.0.0.0:1099</prop>
				<prop key="java.naming.factory.url.pkgs">
					org.jnp.interfaces:org.jboss.naming
				</prop>
			</props>
		</property>
	</bean>

	<!--JMS队列连接工厂配置-->
	<bean id="jmsConnectionFactory"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate">
			<ref bean="jndiTemplate" />
		</property>
		<property name="jndiName">
			<!--  value>XAConnectionFactory</value -->
			<value>QueueConnectionFactory</value>

		</property>
	</bean>
	
	<!-- ############################################### -->
	<!-- ################ JMS Quque setup ############## -->
	<!-- ############################################### -->
	
	<!--    配置JmsTemplate组件。
		使用defaultDestination属性来指定JMS目标
		queue Destination
		-->
	<bean id="jmsQueueDestinationResolver"
		class="org.springframework.jndi.JndiObjectFactoryBean">

		<property name="jndiTemplate">
			<ref bean="jndiTemplate" />
		</property>

		<property name="jndiName">
			<value>queue/XxlbqTestQueue</value>
		</property>
		
		<!--        <property name="cache">-->
		<!--            <value>true</value>-->
		<!--        </property>-->
	</bean>
	
	<!--	JMS Queue 发送,接收 模版-->
	<bean id="jmsQueueTemplate"
		class="org.springframework.jms.core.JmsTemplate102">
		<property name="connectionFactory">
			<ref bean="jmsConnectionFactory" />
		</property>
		<property name="defaultDestination">
			<ref bean="jmsQueueDestinationResolver" />
		</property>
		<property name="receiveTimeout">
			<value>500000</value>
		</property>
	</bean>
	<!--	配置发送者和接收者组件。-->
	<bean id="jmsSender"
		class="com.livedoor.flow_manager.jms.service.JMSQueueSender">
		<property name="jmsQueueTemplate">
			<ref bean="jmsQueueTemplate" />
		</property>

	</bean>

	<bean id="jmsReceiver"
		class="com.livedoor.flow_manager.jms.service.JMSQueueReceiver">
		<property name="jmsQueueTemplate">
			<ref bean="jmsQueueTemplate" />
		</property>
	</bean>
	
	<!-- ############################################### -->
	<!-- ################ JMS Topic setup ############## -->
	<!-- ############################################### -->
	<!--	注意：如果使用topic-subscribe(主题订阅)模式，该模板的pubSubDomain属性值为true;
			若使用PToP(点对点)模式，pubSubDomain属性值为false或不配置该属性。-->
	
	 <bean id="topicDestination" class="org.springframework.jndi.JndiObjectFactoryBean">
   		<property name="jndiTemplate"><ref bean="jndiTemplate" /></property>
   		<property name="jndiName"><value>topic/postUserTopic</value></property>
  	</bean>
	
	
	 <bean id="jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate102">
   		<property name="connectionFactory" ref="jmsConnectionFactory" />
   		<property name="defaultDestination" ref="topicDestination" />
   		<property name="pubSubDomain">
    		<value>true</value>
   		</property>
   		<!-- 等待消息的时间(ms) -->
   		<property name="receiveTimeout">
         		<value>500000</value>
      	</property>
  </bean>
  <!-- 消息发布者 -->
<!--  <bean id="msgPublisher" class="com.livedoor.flow_manager.jms.service.JmsTopicPublisher">-->
<!--   <property name="jmsTopicTemplate" ref="jmsTopicTemplate" />-->
<!--  </bean>-->
  <!-- 消息接收者 -->
<!--  <bean id="msgConsumer" class="com.livedoor.flow_manager.jms.service.JmsTopicConsumer" singleton="false">-->
<!--   <property name="jmsTopicTemplate" ref="jmsTopicTemplate" />-->
<!--  </bean>-->
  
  
  
  <!-- JMS模板配置 -->
  <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate102">
   <property name="connectionFactory" ref="jmsConnectionFactory" />
   <property name="defaultDestination" ref="topicDestination" />
   <property name="pubSubDomain">
    <value>true</value>
   </property>
   <!-- 等待消息的时间(ms) -->
   <property name="receiveTimeout">
         <value>30000</value>
      </property>
  </bean>
   <!-- 消息发布者 -->
  <bean id="msgProducer" class="com.livedoor.flow_manager.jms.service.JmsTopicPublisher">
   <property name="jmsTopicTemplate" ref="jmsTemplate" />
  </bean>
  <!-- 消息接收者 -->
  <bean id="msgConsumer" class="com.livedoor.flow_manager.jms.service.JmsTopicConsumer">
   <property name="jmsTopicTemplate" ref="jmsTemplate" />
  </bean>
  
	
</beans>
