<table border="0" cellpadding="0" cellspacing="0">
<tr>

	#foreach ($parentMenuRoleAction in $parentMenuRoleActionList)
   
        <td nowrap="nowrap" bgcolor="#eeeeee" ><a href=$parentMenuRoleAction.getRoleActionUrl()>$parentMenuRoleAction.getRoleActionName()</a>
          &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        </td>
 
    #end
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<td>$user.role.roleName</td>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

</tr>
</table>
        
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="menu_line_1"></td>
</tr>
</table>
        
<table  border="0" cellspacing="0" cellpadding="0">
<tr>


	#foreach ($sonMenuRoleAction in $sonMenuRoleActionList)
   
        <td nowrap="nowrap" ><span style="white-space:nowrap"><a href=$sonMenuRoleAction.getRoleActionUrl()>$sonMenuRoleAction.getRoleActionName()</a></span>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        </td>
   
    #end

</tr>
</table>
        
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="menu_line_2"></td>
</tr>
</table>